{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.user) }}
    {{ form_widget(form.user) }}
</div>
<div class="form-group">
    {{ form_label(form.idReservation) }}
    {{ form_widget(form.idReservation) }}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
