{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Nbrparticipants</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.datedeb ? event.datedeb|date('Y-m-d') : '' }}</td>
                <td>{{ event.datefin ? event.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ event.starttime ? event.starttime|date('H:i:s') : '' }}</td>
                <td>{{ event.endtime ? event.endtime|date('H:i:s') : '' }}</td>
                <td>{{ event.nbrparticipants }}</td>
                <td>{{ event.price }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
