<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="{{ asset('Images/Ball.ico') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MatchMate</title>
  <link rel="stylesheet" href="{{ asset('styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="{{ asset('Images/logo.png') }}" alt="Logo">
    </div>
    <ul class="navbar-items">
      <li ><a href="#">Home</a></li>
      <li><a href="#">Reservation</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Claim</a></li>
    </ul>
    <div class="navbar-icons">
        <img src="{{ asset('Images/panier.png') }}" alt="panier">
        <img src="{{ asset('Images/utilisateur (1).png') }}" alt="utilisateur">
      
    </div>
  </nav>
    <div class="image-container">
        <img src="{{ asset('Images/background.png') }}"> 

        <div class="text-overlay">
            <span>SEARCH BOOK</span>
            <span>& HAVE FUN</span>
        </div>
        <div class="black-div">
            <div class="content-wrapper">
                <span>LOOKING FOR FIELD ?</span>
            </div>
            <div class="horizontal-container">
                <div class="vertical-div">
                  <label for="governorate">Select Governorate:</label>
                  <select id="governorate" name="governorate">
                    <option value="governorate1">Governorate 1</option>
                    <option value="governorate2">Governorate 2</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
                
                <div class="vertical-div">
                    <button class="search-button">Search
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    
    </div>

    <div class="additional-div">
        <div class="how-it-works">
            <span>How it works</span>
        </div>

        <div class="horizontal-container">
            <div class="horizontal-div">
                <button class="image-button">
                    <img src="{{ asset('Images/step1.png') }}" alt="Image 1">
                </button>  
              <div class="vertical-text">
                <p class="title">Find a Listing</p>
                <p>Find a space to practice sport and </p>
                <p>leisure activities</p>
              </div>
            </div>
            <div class="horizontal-div">
                <button class="image-button">
                    <img src="{{ asset('Images/step2.png') }}" alt="Image 1">
                </button> 
              <div class="vertical-text">
                <p class="title">Set the Date</p>
                <p>Book Online</p>
              </div>
            </div>
            <div class="horizontal-div">
                <button class="image-button">
                    <img src="{{ asset('Images/step3.png') }}" alt="Image 1">
                </button> 
              <div class="vertical-text">
                <p class="title">Move in !</p>
                <p>Practicing sport and accessing</p> 
                <p>leisure activities</p>
              </div>
            </div>
          </div>
    </div>

    <div>
      <!--khedmet elyes-->
    </div>

    <div class="additional-partners">
      <div class="horizontal-div1">
        
          <img src="{{ asset('Images/tel.png') }}" alt="Partner Logo">
          <div class="vertical-div1">
              <h2>Manage your schedule from your Mobile</h2>
              <p>Download the app to manage your schedule , keep track of your bookings and stay on track with the progress</p>
              <p>Get the app</p>
              <img src="images/appstore.png" alt="Image 1">
              
          </div>
      </div>

    <div class="partners-section">
      <div class="vertical-center">
          <p class="partners-title">Our Partners</p>
          <img src="images/esprit.png" alt="Our Partners">
      </div>
    </div>

    
  </div>

  <footer class="footer">
    <div class="footer-section">
        <div class="logo-and-paragraph">
            <img src="images/logo.png" alt="Footer Logo">
            <p>Copyrights MiCasa Homes and Properties</p>
            <p>All rights reserved</p>
        </div>
    </div>
    <div class="footer-section">
        <ul class="footer-list">
          <h3>Company</h3>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <ul class="footer-list">
          <h3>Support</h3>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Shipping Information</a></li>
            <li><a href="#">Returns & Refunds</a></li>
        </ul>
    </div>
</footer>
  
</body>
</html>
