{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="custom-background">
    <a href="{{ path('app_home') }}">
    <img src="{{ asset('Images/logoMatch.png') }}">
</a>
    
   <div class="centered-div"> 
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <h1 class="mb-5">Create Your Account Now . </h1>

        {{ form_start(registrationForm, { 'attr': {'class': 'row g-3'} }) }}
            <div class="col-md-6">
                {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
              
               
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
               
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.firstname, { 'attr': {'class': 'form-control'} }) }}
                
                {{ form_errors(registrationForm.firstname) }}
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.lastname, { 'attr': {'class': 'form-control'} }) }}
               
                {{ form_errors(registrationForm.lastname) }}
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
               
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.birthdate, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(registrationForm.birthdate) }}
           
              
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.location, { 'attr': {'class': 'form-control'} }) }}
                
                {{ form_errors(registrationForm.location) }}
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.gender, { 'attr': {'class': 'form-control'} }) }}
         
                {{ form_errors(registrationForm.gender) }}
            </div>

            <div class="col-md-6">
                {{ form_row(registrationForm.role, { 'attr': {'class': 'form-control'} }) }}
               
                {{ form_errors(registrationForm.role) }}
            </div>

           <div class="col-md-6">
    {{ form_label(registrationForm.image) }}
    {{ form_widget(registrationForm.image, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(registrationForm.image) }}
</div>
            
            <div class="col-md-12 btnn">
                <a href="{{ path('app_login') }}" class="login_link" >Already registred ?</a>
                <button type="submit" class="btn btn-lg ">Register</button>
            </div>

        {{ form_end(registrationForm) }}
    </div>
</div>
</div>
{% endblock %}


