<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réclamation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: green;
        }
        .claim-info {
            margin-bottom: 20px;
        }
        .claim-info p {
            margin: 5px 0;
        }
         .claim-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    </style>
</head>



<body>
    
    <h1>Réclamation</h1>

  
    <p><strong>Date:</strong> {{ claim.date ? claim.date|date('Y-m-d') : '' }}</p>
    <p><strong>Description:</strong> {{ claim.description }}</p>
    <p><strong>Type:</strong> {{ claim.type }}</p>
    <p><strong>Status:</strong> {{ claim.status }}</p>
    <p><strong>Satisfaction:</strong> {{ claim.satisfaction }}</p>
    <p><strong>Réponse:</strong> {{ claim.response }}</p>
    <p><strong>Date de clôture:</strong> {{ claim.closuredate ? claim.closuredate|date('Y-m-d') : '' }}</p>
    <p><strong>Club:</strong> {{ claim.idclub.name }}</p>
</div>

</body>
</html>
